{{#get "tags" limit="all"}}
    <ul class="tags">
        {{#foreach tags}}
            <li class="tag">
                <a href="{{url}}">{{name}}</a>
            </li>
        {{/foreach}}
    </ul>
{{/get}}