{{#get "tags" limit="all"}}
    <select class="tags" onChange="window.location.href=this.value">
        <option value="{{@site.url}}">Blog Home</option>
        {{#foreach tags}}
        <option value="{{url}}">{{name}}</option>
        {{/foreach}}
    </select>
{{/get}}