{{#get "tags" limit="all"}}
    <select class="tags" onChange="window.location.href=this.value">
	<option disabled value="filter">Filter by:</option>
	<option selected value>Blog topics:</option>
        {{#foreach tags}}
            <option value="{{url}}">{{name}}</option>
        {{/foreach}}
    </select>
{{/get}}